// Home page
$home-background-img : url('../../images/particlesjs-examples.gif');
// PokemonList
$PokemonListLi-background : rgba(0, 0, 0, 0.726);
$PokemonListP-color : white;
// pagination
$activePageNumber-color : darkgoldenrod;
$pageNumbers-background: rgba(0, 0, 0, 0.726) ;
$pageNumbers-color: white ;